body {
    background-color: #B9E5E8;
    
  }

  form {
    width: 400px; /* Set a width for your form */
    margin: 100px auto; /* Centers horizontally and adds top margin */
    background-color: #e0f7fa;
    padding: 20px;
    border-radius: 8px;
}

 